footer
    background #E5E5E5
    padding 30px 0
    +mobile()
        padding 20px 0
    nav
        margin 0 auto
        text-align center
        max-width 900px
        border-bottom 1px solid #fff
        padding-bottom 20px
        margin-bottom 35px
        font-size 0
        +mobile()
            display none
        a
            position relative
            display inline-block
            opensans 12
            color $azul
            margin-right 40px
            &:hover
                color #000
            &:after
                content '|'
                position absolute
                right -20px
                color $azul !important
                cursor default
            &:last-child:after
                display none
    .informacoes
        display flex
        justify-content space-between
        flex-wrap wrap
        +mobile()
            display block
        .marca
            img
                max-width 100%
                display block
        .telefones
            opensans 16
            color $azul
            line-height 1.3
            +tablet()
                font-size 14px
            +mobile()
                font-size 14px
                margin 20px 0 0
        .endereco
            opensans 14
            color $azul
            line-height 1.3
            +tablet()
                font-size 13px
            +mobile()
                font-size 13px
                margin 10px 0 20px
        .copyright
            opensans 10
            color $azul
            padding-top 2px
            line-height 1.3
            a:hover
                color #000
            +tablet()
                width 100%
                padding-top 25px
                text-align center
