.top-bar
    background $laranja
    text-align right
    padding 5px 0
    a
        opensans 13
        color $azul
        &:hover
            color #000

header
    padding 35px 0 70px
    +tablet()
        padding 25px 0 35px
    +mobile()
        padding 20px 0 25px
    +above($tablet)
        &.home
            padding-bottom 35px
            .logo
                display none
            #nav-desktop
                float none
                text-align center
                a
                    line-height 1
    .center
        clearfix()
    .logo
        width 260px
        height 70px
        background $img('marca-phrf.png') no-repeat center
        text-indent -9999px
        float left
        +mobile()
            width 200px
            height 54px
            background-size 100% auto
    #nav-desktop
        float right
        font-size 0
        +below($tablet)
            display none
        a
            position relative
            display inline-block
            line-height 70px
            opensans 16
            color $azul
            margin-right 50px
            &:hover
                color #000
            &.active
                font-weight 700
                color $azul !important
            &:after
                content '|'
                position absolute
                right -28px
                color $laranja !important
                font-weight 400 !important
                cursor default
            &:last-child
                margin-right 0
                &:after
                    display none
    #mobile-toggle
        +above($tablet)
            display none
        display block
        background-color transparent
        border 0
        position absolute
        right 0
        top 50%
        transform translateY(-50%)
        height 28px
        width 28px
        outline 0
        padding 0
        cursor pointer
        .lines
            display block
            width 100%
            height 4px
            background $azul
            position relative
            transition .3s ease
            border-radius 3px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                background $azul
                transition .3s ease
                border-radius 3px
            &:before
                top 7px
            &:after
                top -7px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    #nav-mobile
        +above($tablet)
            display none !important
        display none
        width 100%
        background $azul
        text-align center
        padding 25px 0
        margin-top 20px
        a
            display block
            opensans 15
            color #fff
            &.active
                color $laranja
            + a
                margin-top 5px
