.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%

.titulo
    text-align center
    cinzel 32
    margin 0 0 1.5em
    color $laranja
    +tablet()
        font-size 28px
    +mobile()
        font-size 24px
        text-align left
        margin-bottom 1