desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1280px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$laranja = #E4AD44
$azul    = #536489

@import url('https://fonts.googleapis.com/css?family=Cinzel|Open+Sans:400,700')

opensans($size, $weight = normal)
    font-size $size + 0px
    font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $weight == bold
        font-weight 700

cinzel($size)
    font-size $size + 0px
    font-family 'Cinzel', 'Garamond', 'Georgia', serif
    font-weight 400
