.areas-de-atuacao
    .areas
        display flex
        flex-wrap wrap
        div
            width calc('33.333% - 40px')
            margin-right 60px
            margin-bottom 60px
            border-top 2px solid $laranja
            color $azul
            &:nth-child(3n)
                margin-right 0
            *:last-child
                margin-bottom 0
            h3
                cinzel 20
                margin 1em 0 .8em
                text-align center
            p
                margin 1em 0
                opensans 14
            ul
                margin 1em 0
                padding 0
                list-style-type none
                li
                    position relative
                    opensans 14
                    padding-left 1em
                    &:before
                        content '\00b7'
                        position absolute
                        left 0
                        font-size 1.4em
                        transform translateY(-.15em)
                    + li
                        margin-top .4em
            +tablet()
                width calc('50% - 30px')
                &:nth-child(3n)
                    margin-right 60px
                &:nth-child(2n)
                    margin-right 0
            +mobile()
                width 100%
                margin-right 0 !important
                margin-bottom 35px
                h3
                    font-size 18px