.contato
    .center
        clearfix()
    .informacoes
        width 47.5%
        float left
        border-top 2px solid $laranja
        clearfix()
        img 
            float left
        div
            width calc('100% - 270px')
            float right
            padding-top 32px
            padding-right 32px
            color $azul
            .telefones
                opensans 22
                margin 0 0 1em
            .endereco
                opensans 16
                margin 0
        +tablet()
            img 
                width 130px
            div
                width calc('100% - 160px')
                padding-top 20px
                padding-right 0
                .telefones
                    font-size 18px
                .endereco
                    font-size 15px
        +mobile()
            width 100%
            img 
                display block
                max-width 150px
            div
                width 100%
                padding-top 20px
                padding-right 0
                .telefones
                    font-size 17px
                .endereco
                    font-size 15px
    form
        width 47.5%
        float right
        .aviso
            opensans 12
            text-transform uppercase
            padding 10px 14px 8px
            margin-bottom 10px
            border-radius 4px
            line-height 1.5
            &.erros
                background #e5acac
                border 1px solid rgba(#ad0808, .5)
                color #ad0808
            &.enviado
                background #afe0b4
                border 1px solid rgba(#07ad18, .5)
                color darken(#07ad18, 10)
                font-size 14px
                text-align center
        input
        textarea
            display block
            width 100%
            resize none
            opensans 16
            font-style italic
            border 0
            outline 0
            background #F9EDDB
            margin-bottom 2px
            +placeholder()
                color $azul
        input[type=text]
        input[type=email]
            height 38px
            padding 0 10px
        textarea
            height 200px
            margin-bottom 6px
            padding 10px
        input[type=submit]
            background $laranja
            color $azul
            opensans 16 bold
            font-style normal
            cursor pointer
            transition background .3s, color .3s
            padding 15px
            &:hover
                color $laranja
                background $azul
        +mobile()
            width 100%
            margin-top 25px
            input
            textarea
                font-size 15px
    .mapa
        width 100%
        margin 45px 0
        iframe 
            width 100%
            height 600px
            display block
        +tablet()
            margin 35px 0
            iframe 
                height 400px
        +mobile()
            margin 25px 0
            iframe 
                height 250px