.equipe
    padding-bottom 60px
    +tablet()
        padding-bottom 40px
    +mobile()
        padding-bottom 25px
    .lista
        display flex
        flex-wrap wrap
        a
            display block
            width 46%
            border-bottom 2px solid $laranja
            padding 35px
            opensans 16
            color $azul
            text-align center
            transition background .3s
            &:hover
                background #F9EDDB
            span 
                display block
                font-size 12px
                margin-top 8px
            &:nth-child(1)
            &:nth-child(2)
                border-top 2px solid $laranja
            &:nth-child(2n)
                margin-left auto
            +mobile()
                width 100%
                padding 20px
                font-size 14px
                + a
                    border-top 0 !important

.equipe-show
    color $azul
    padding 60px 5%
    *
        max-width 680px
        margin-left auto !important 
        margin-right auto !important
    h1
        opensans 22
        margin 0
        text-align center
    h2
        opensans 12
        margin 5px 0 30px
        text-align center
    p
        margin 0
        opensans 16
        + p
            margin-top 1em
    +tablet()
        padding 40px 5%
    +mobile()
        padding 25px 5%
        h1
            font-size 18px
        h2
            margin-bottom 20px
        p
            font-size 15px