.home
    .banner
        img
            display block
            width 100%
    .areas-de-atuacao
        padding 40px 0 75px
        +mobile()
            padding 25px 0
        h2
            cinzel 18
            color $laranja
            text-align center
            margin 0 0 1.6em
            +mobile()
                font-size 16px
                margin-bottom 1em
        > div
            display flex
            flex-wrap wrap
            a
                display block
                background #F8EEDB
                width calc('33.333% - 6.667px')
                margin-right 10px
                margin-bottom 10px
                transition background .3s
                text-align center
                cinzel 20
                color $azul
                padding 20px
                padding-bottom 40px
                &:nth-child(3n)
                    margin-right 0
                &:hover
                    background rgba($laranja, .6)
                +tablet()
                    font-size 18px
                    padding 18px
                    padding-bottom 36px
                +mobile()
                    width 100%
                    font-size 15px
                    padding 15px
                    margin-bottom 5px
                    margin-right 0
