.noticias-e-artigos
    padding-bottom 60px
    +tablet()
        padding-bottom 40px
    +mobile()
        padding-bottom 25px
    .center
        clearfix()
    .noticia
        width 47.5%
        float right
        border-top 2px solid $laranja
        padding-top 20px
        color $azul
        h1 
            cinzel 24
            margin 0
        p
            opensans 14
            &.informacoes
                font-size 12px
                margin 10px 0 20px
        a
            text-decoration underline
            &:hover
                color $laranja
        img
            display block
            width 100%
        +tablet()
            width 55%
        +mobile()
            width 100%
            h1
                font-size 20px
    .lista-noticias
        width 47.5%
        float left
        border-top 2px solid $laranja
        a
            display block
            position relative
            border-bottom 2px solid $laranja
            padding 10px 20px
            transition padding .3s
            opensans 16 
            color $azul
            &:before
                content ''
                position absolute
                top 50%
                left 0
                transform translateY(-4px)
                width 0
                height 0
                border-style solid
                border-width 4px 0 4px 7px
                border-color transparent transparent transparent $laranja
            &:hover
                padding-left 25px
            &.active
                background #F9EDDB
                padding-left 20px !important
        +tablet()
            width 40%
        +mobile()
            width 100%
            margin-top 25px
            a
                font-size 14px