.quem-somos
    .center
        clearfix()
    .imagens
        width 50%
        float left
        clearfix()
        +tablet()
            width 40%
        +mobile()
            width 100%
        img
            display block
            float left
            margin-bottom 1.667%
            &:nth-child(1)
                width 60%
            &:nth-child(2)
                width 38.333%
                float right
            &:nth-child(3)
                width 100%
            &:nth-child(4)
                width 38.333%
                margin-bottom 0
            &:nth-child(5)
                width 60%
                float right
                margin-bottom 0
    .texto
        width 42%
        float right
        h2
            margin 1.8em 0 .75em
            cinzel 32
            color $laranja
            &:first-child
                margin-top 0
        p
            opensans 16
            margin 0
            color $azul
            + p
                margin-top 1em
        +tablet()
            width 52%
            h2
                font-size 24px
        +mobile()
            width 100%
            margin-top 25px
            h2
                font-size 20px
            p
                font-size 15px
    .missao-valores
        background $azul
        margin 75px 0 50px
        padding 55px 0
        .col
            width 50%
            float left
            text-align center
            padding 0 55px
            h3
                cinzel 24
                color $laranja
                margin 0 0 .75em
            p
                opensans 16
                color #fff
        +tablet()
            margin 55px 0 30px
            padding 30px 0
            .col
                padding 0 30px
                h3
                    font-size 20px
        +mobile()
            margin 35px 0 20px
            padding 25px 0
            .col
                width 100%
                padding 0
                text-align left
                + .col
                    margin-top 15px
                h3
                    font-size 18px
                p
                    font-size 15px